# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Database
*.db
*.sqlite3

# Tests & coverage
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
